### here is the playground for ranking the rowers. 
For now we will just rank people based on their heights. This way we will generate a naive ranking solution for Matcher()
Weights will be checked after that ranking, so that pairs (2:3; 4:5, etc.) have the right weight distribution

In [99]:
%pylab inline
import pandas as pd
import numpy as np
from collections import defaultdict

Populating the interactive namespace from numpy and matplotlib

In [134]:
dtypes = {'cox': bool,'name': str, 'height [cm]': np.float, 'weight [kg]': np.float, 'notes': str}
prefs = pd.read_csv('prefs.csv', sep=';', index_col=False, dtype=dtypes)

In [135]:
# accomodate to elina's preference of sitting in front, by manually setting her height to height = height + 7
prefs.loc[prefs['name'] == 'Elina', 'height [cm]'] = 172.0

In [136]:
prefs

,cox,name,height [cm],weight [kg],notes
0,True,Tiia,166.0,55.0,"rower/white oar, can cox 1/4"
1,False,Alison,164.0,64.1,Rower
2,False,Bulat,174.0,79.0,NaN
3,True,Arvydas,181.0,77.0,"Cox, white"
4,True,Julia,175.0,70.0,I usually do worse in the last two rows becaus...
5,False,Lauri,170.0,65.1,NaN
6,False,Tatiana,169.0,55.5,rower or white oar if needed
7,False,Ulrika,169.1,64.5,Rower or white if needed
8,True,Karen,173.5,67.5,"Rower 1st/2nd row, white oar (if needed), also..."
9,False,Hans,179.0,73.0,NaN
10,False,Jaana,167.0,62.0,want to change sides in every swich
11,False,Joseph,170.1,65.0,NaN
12,False,Elli,163.0,60.0,NaN
13,False,Elina,172.0,55.1,Rower in the front part of the boat
14,False,Kul,157.0,64.0,NaN

In [137]:
# create a dict object, where name: {weight, height, cox}
d = dict()
for i in range(len(prefs)):
    d[prefs.iloc[i,:]['name']] = {'height': prefs.iloc[i,:]['height [cm]'], 'weight': prefs.iloc[i,:]['weight [kg]'], 'cox': prefs.iloc[i,:]['cox']}

In [141]:
# prep for rankign 
heights = dict()
coxes = dict()
for k,v in d.items():
    heights[k]= v['height']
for k,v in d.items():
    coxes[k]= v['cox']
    
# ranking by height https://stackoverflow.com/questions/30282600/python-ranking-dictionary-return-rank

heights_rank = {key: rank for rank, key in enumerate(sorted(heights, key=heights.get, reverse=True), 1)}
for k, v in heights_rank.items():
    d[k]['rank_height'] = v  # do not modify in-place

In [142]:
dd = d.copy()

In [160]:
??range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [174]:
list(arange(15,1,-1))

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [180]:
for k, v in dd.items():
    out = list()
    if v['rank_height'] == 1:
        rest = list(range(v['rank_height'],len(dd)))
        out = out + rest
        print(out)
    elif v['rank_height'] == len(dd):
        rest = list(arange(v['rank_height'], 0,-1))
        out = out + rest
        print(out)
    elif v['rank_height'] < len(dd):
        rest = [v['rank_height'],v['rank_height']+1,v['rank_height']-1 ]
        if v['rank_height']+1 < len(dd):
            rest = rest + [v['rank_height']+2,v['rank_height']-2]
        print(rest)
#    dd[k]['rank_height_full'] = v['rank_height']

[12, 13, 11, 14, 10]
[13, 14, 12, 15, 11]
[4, 5, 3, 6, 2]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[3, 4, 2, 5, 1]
[8, 9, 7, 10, 6]
[10, 11, 9, 12, 8]
[9, 10, 8, 11, 7]
[5, 6, 4, 7, 3]
[2, 3, 1, 4, 0]
[11, 12, 10, 13, 9]
[7, 8, 6, 9, 5]
[14, 15, 13]
[6, 7, 5, 8, 4]
[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [171]:
??arange

Docstring:
arange([start,] stop[, step,], dtype=None)

Return evenly spaced values within a given interval.

Values are generated within the half-open interval ``[start, stop)``
(in other words, the interval including `start` but excluding `stop`).
For integer arguments the function is equivalent to the Python built-in
`range <http://docs.python.org/lib/built-in-funcs.html>`_ function,
but returns an ndarray rather than a list.

When using a non-integer step, such as 0.1, the results will often not
be consistent.  It is better to use ``linspace`` for these cases.

Parameters
----------
start : number, optional
    Start of interval.  The interval includes this value.  The default
    start value is 0.
stop : number
    End of interval.  The interval does not include this value, except
    in some cases where `step` is not an integer and floating point
    round-off affects the length of `out`.
step : number, optional
    Spacing between values.  For any output `out`, this is the distance
    between two adjacent values, ``out[i+1] - out[i]``.  The default
    step size is 1.  If `step` is specified as a position argument,
    `start` must also be given.
dtype : dtype
    The type of the output array.  If `dtype` is not given, infer the data
    type from the other input arguments.

Returns
-------
arange : ndarray
    Array of evenly spaced values.

    For floating point arguments, the length of the result is
    ``ceil((stop - start)/step)``.  Because of floating point overflow,
    this rule may result in the last element of `out` being greater
    than `stop`.

See Also
--------
linspace : Evenly spaced numbers with careful handling of endpoints.
ogrid: Arrays of evenly spaced numbers in N-dimensions.
mgrid: Grid-shaped arrays of evenly spaced numbers in N-dimensions.

Examples
--------
>>> np.arange(3)
array([0, 1, 2])
>>> np.arange(3.0)
array([ 0.,  1.,  2.])
>>> np.arange(3,7)
array([3, 4, 5, 6])
>>> np.arange(3,7,2)
array([3, 5])
Type:      builtin_function_or_method

In [139]:
for k,v in d.items():
    if v['cox']:
        print(k)
    else: print(k, v['rank_height'])

Tiia
Alison 13
Bulat 4
Arvydas
Julia
Lauri 8
Tatiana 10
Ulrika 9
Karen
Hans 2
Jaana 11
Joseph 7
Elli 14
Elina 6
Kul 15

In [140]:
d

{'Tiia': {'height': 166.0, 'weight': 55.0, 'cox': True, 'rank_height': 12},
 'Alison': {'height': 164.0, 'weight': 64.1, 'cox': False, 'rank_height': 13},
 'Bulat': {'height': 174.0, 'weight': 79.0, 'cox': False, 'rank_height': 4},
 'Arvydas': {'height': 181.0, 'weight': 77.0, 'cox': True, 'rank_height': 1},
 'Julia': {'height': 175.0, 'weight': 70.0, 'cox': True, 'rank_height': 3},
 'Lauri': {'height': 170.0, 'weight': 65.1, 'cox': False, 'rank_height': 8},
 'Tatiana': {'height': 169.0, 'weight': 55.5, 'cox': False, 'rank_height': 10},
 'Ulrika': {'height': 169.1, 'weight': 64.5, 'cox': False, 'rank_height': 9},
 'Karen': {'height': 173.5, 'weight': 67.5, 'cox': True, 'rank_height': 5},
 'Hans': {'height': 179.0, 'weight': 73.0, 'cox': False, 'rank_height': 2},
 'Jaana': {'height': 167.0, 'weight': 62.0, 'cox': False, 'rank_height': 11},
 'Joseph': {'height': 170.1, 'weight': 65.0, 'cox': False, 'rank_height': 7},
 'Elli': {'height': 163.0, 'weight': 60.0, 'cox': False, 'rank_height': 14},
 'Elina': {'height': 172.0, 'weight': 55.1, 'cox': False, 'rank_height': 6},
 'Kul': {'height': 157.0, 'weight': 64.0, 'cox': False, 'rank_height': 15}}

In [49]:
d

{'Tiia': {'height': 166.0, 'weight': 55.0, 'cox': True},
 'Alison': {'height': 164.0, 'weight': 64.0, 'cox': False},
 'Bulat': {'height': 174.0, 'weight': 79.0, 'cox': False},
 'Arvydas': {'height': 181.0, 'weight': 77.0, 'cox': True},
 'Julia': {'height': 175.0, 'weight': 70.0, 'cox': True},
 'Lauri': {'height': 170.0, 'weight': 65.0, 'cox': False},
 'Tatiana': {'height': 169.0, 'weight': 55.5, 'cox': False},
 'Ulrika': {'height': 169.0, 'weight': 64.5, 'cox': False},
 'Karen': {'height': 173.5, 'weight': 67.5, 'cox': True},
 'Hans': {'height': 179.0, 'weight': 73.0, 'cox': False},
 'Jaana': {'height': 167.0, 'weight': 62.0, 'cox': False},
 'Joseph': {'height': 170.0, 'weight': 65.0, 'cox': False},
 'Elli': {'height': 163.0, 'weight': 60.0, 'cox': False},
 'Elina': {'height': 165.0, 'weight': 55.0, 'cox': False},
 'Kul': {'height': 157.0, 'weight': 64.0, 'cox': False}}

In [25]:
??rank

Signature: rank(a)
Source:
def rank(a):
    """
    Return the number of dimensions of an array.

    .. note::
        This function is deprecated in NumPy 1.9 to avoid confusion with
        `numpy.linalg.matrix_rank`. The ``ndim`` attribute or function
        should be used instead.

    See Also
    --------
    ndim : equivalent non-deprecated function

    Notes
    -----
    In the old Numeric package, `rank` was the term used for the number of
    dimensions, but in NumPy `ndim` is used instead.
    """
    # 2014-04-12, 1.9
    warnings.warn(
        "`rank` is deprecated; use the `ndim` attribute or function instead. "
        "To find the rank of a matrix see `numpy.linalg.matrix_rank`.",
        VisibleDeprecationWarning, stacklevel=2)
    return ndim(a)
File:      ~/miniconda3/envs/fimm/lib/python3.7/site-packages/numpy/core/fromnumeric.py
Type:      function